{% load static %}
<html>
    <head>
        <title>Sunwu's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
        </style>
    </head>
    <body>  
        <div class="page-header">
            <a class = "page-header-title" href="/">Sunwu's Blog</a>
            <div class = "page-header-item">
                <a href="{% url 'post_new' %}" class="top-menu ">New Post</a>
                <a href="{% url 'first_screen' %}" class="top-menu" title="home">Home</a>
            </div>

        </div>
        <div class="content container">
                    {% block content %}
                    {% endblock %}
        </div>
    </body>
</html>